body{
	background-image: url("hogwartsbg.jpg");
}
.board{
	height: 1000px;
	width: 1000px;
	position: inline-block;
}
.card{
	height: 265px;
	width: 250px;
	border: 1px solid black;
	position: inline-block;
	margin: 50px;
	float: left;
	background-image: url("hogwartspic.jpg");
}

.gryffindorClicked{
	background-image: url("gryffindorpic.jpg");
	background-size: cover;
}

.ravenclawClicked{
	background-image: url("ravenclawpic.jpg");
	background-size: cover;
	
}