h1 {
color: #ffffff;
font-size: 40px; 
text-align: center;
}

h2 {
color: #ffffff;
font-size: 25px; 
text-align: center;
}body{
	background-color: #B4D4DC;
}
.board{
	width: 500px;
	margin: 0 auto;

}

.card{
	background-color: #ffffff;
	position: inline-block;
	height: 226px;
	width: 226px;
	border: 1px solid black;
	margin: 5px;
	float: left;
}

.gryffindorClicked{
	background-color: #8DE6FF;
}

.ravenclawClicked{
	background-color: #678790;
}

h3 {
color: #ffffff;
font-size: 35px; 
text-align: center;
}

